.title {
    background-color: aqua;
    align-content: center;
    text-align: center;
}

.subtitle {
    background-color: bisque;
}

p {
    padding: 5px;
}

footer {
    text-align: center;
    margin-top: 50px;
    padding: 20px;
    background: #2c3e50;
    color: white;
}

/* Responsive */
@media (max-width: 576px) {
    .title {
        font-size: 25px;
        background-color: aquamarine;
    }

    .subtitle {
        font-size: 20px;
        background-color: aqua;
    }

    p {
        font-size: 15px;
    }

    .container-sm {
        align-items: center;
    }

    .ul {
        font-size: 15px;
    }
}

@media (min-width: 577px) {
    .title {
        font-size: 25px;
        background-color: rgb(80, 41, 178);
    }

    .subtitle {
        font-size: 20px;
        background-color: aqua;
    }

    p {
        font-size: 15px;
    }

    .container-sm {
        align-items: center;
    }

    .ul {
        font-size: 15px;
    }
}

@media (min-width: 768px) {
    .title {
        font-size: 31px;
        background-color: rgb(54, 116, 95);
    }

    .subtitle {
        font-size: 26px;
        background-color: aqua;
    }

    p {
        font-size: 18px;
    }

    .container-sm {
        align-items: center;
    }

    .ul {
        font-size: 18px;
    }
}

@media (min-width: 992px) {
    .title {
        font-size: 35px;
        background-color: rgb(41, 61, 55);
    }

    .subtitle {
        font-size: 30px;
        background-color: aqua;
    }

    p {
        font-size: 20px;
    }

    .container-sm {
        align-items: center;
    }

    .ul {
        font-size: 20px;
    }
}

@media (min-width: 1200px) {
    .title {
        font-size: 35px;
        background-color: rgb(36, 140, 38);
    }

    .subtitle {
        font-size: 30px;
        background-color: aqua;
    }

    p {
        font-size: 20px;
    }

    .container-sm {
        align-items: center;
    }

    .ul {
        font-size: 20px;
    }
}

@media (min-width: 1400px) {
    .title {
        font-size: 35px;
        background-color: rgb(157, 155, 68);
    }

    .subtitle {
        font-size: 30px;
        background-color: aqua;
    }

    p {
        font-size: 20px;
    }

    .container-sm {
        align-items: center;
    }

    .ul{
        font-size: 20px;
    }
}